<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="hero">
  <!--begin::Hero-->
  <div id="kt_app_hero" class="app-hero">
    <!--begin::Hero container-->
    <div id="kt_app_hero_container" class="app-container container-xxl">
      <!--begin::Hero-->
      <div class="card card-flush border-0 bgi-no-repeat bgi-size-cover bgi-position-center mt-8" style="background-image:url('assets/media/misc/search-form-bg.jpg">
        <!--begin::Body-->
        <div class="card-body position-relative h-250px">

        </div>
        <!--end::Body-->
      </div>
      <!--end::Hero-->
    </div>
    <!--end::Hero container-->
  </div>
  <!--end::Hero-->
</div>