<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<form th:fragment="modal" class="modal-content"
      th:object="${accountForm}"
      enctype="multipart/form-data"
      hx-encoding="multipart/form-data"
>
    <div class="modal-header">
        <h2 class="fw-bold">[[#{account.info}]]</h2>
        <div id="close" class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
            <i class="ki-duotone ki-cross fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
            </i>
        </div>
    </div>

    <div class="modal-body">

        <input th:field="*{id}" type="hidden"/>

        <div class="row mb-2">
            <div class="col-4 col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label th:for="name">[[#{name}]]</label>
                </div>
            </div>
            <div class="col">
                <input th:field="*{name}" type="text" class="form-control form-control-solid form-control-sm"/>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4 col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label th:for="productId">[[#{product}]]</label>
                </div>
            </div>
            <div class="col">
                <select th:field="*{productId}" class="form-select form-select-solid form-control-sm">
                    <option value=""></option>
                    <option th:each="item : ${productList}"
                            th:value="${item.id}"
                            th:text="${item.name}"
                    ></option>
                </select>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4 col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label th:for="description">[[#{description}]]</label>
                </div>
            </div>
            <div class="col">
                <textarea th:field="*{description}" type="text" class="form-control form-control-solid form-control-sm"></textarea>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4 col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label th:for="tags">Tags</label>
                </div>
            </div>
            <div class="col">
                <input th:field="*{tags}" type="text" class="form-control form-control-solid form-control-sm"/>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4 col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label th:for="crystal">Crystals</label>
                </div>
            </div>
            <div class="col">
                <input th:field="*{crystal}" type="number" class="form-control form-control-solid form-control-sm"/>
            </div>

            <div class="col-4 col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label th:for="bigNote">Big note</label>
                </div>
            </div>
            <div class="col">
                <input th:field="*{bigNote}" type="number" class="form-control form-control-solid form-control-sm"/>
            </div>
        </div>

        <div class="row mb-2 align-items-center">
            <div class="col-4 col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label th:for="isSold">Sold</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check form-check-sm form-check-custom form-check-solid">
                    <input th:field="*{isSold}" type="checkbox" class="form-check-input"/>
                </div>
            </div>

            <div class="col-4 col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label th:for="isKept">Keep</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check form-check-sm form-check-custom form-check-solid">
                    <input th:field="*{isKept}" type="checkbox" class="form-check-input"/>
                </div>
            </div>
        </div>

        <div class="row mb-auto">
            <div class="col-4 col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label th:for="imageUpload">Preview</label>
                </div>
            </div>

            <div class="col">
                <input th:if="${accountForm.image == null}" id="imageInput" type="text" class="form-control form-control-solid form-control-sm"/>
                <img th:if="${accountForm.image == null}" id="imagePreview" class="w-100 rounded-2 mt-2" style="display: none;"/>
                <img th:if="${accountForm.image != null}" class="w-100 rounded-2 mt-2" th:src="${accountForm.image.url}"/>
                <input th:field="*{imageUpload}" id="imageUpload" type="file" class="d-none"/>
            </div>
        </div>

    </div>

    <div class="modal-footer flex-center">
        <button type="reset" class="btn btn-light me-3 btn-sm" data-bs-dismiss="modal">[[#{button.discard}]]</button>
        <button hx-post="/account/save"
                hx-target="#account-table"
                class="btn btn-primary btn-sm"
                id="submitBtn"
        >
            [[#{button.submit}]]
        </button>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        $('#imageInput').on('paste', (event) => {
            const items = (event.originalEvent || event).clipboardData.items;
            let id = [[${id}]];

            for (let item of items) {
                if (item.kind === 'file') {
                    let file = item.getAsFile();
                    let reader = new FileReader();
                    reader.onload = (e) => {
                        $('#imagePreview').attr('src', e.target.result);
                        $('#imagePreview').css('display', 'block');
                        uploadImage(id, file);
                    };
                    reader.readAsDataURL(file);
                }
            }
        });

        /*]]>*/

    </script>
</form>

<tr th:fragment="table"
    th:each="item, idx : ${data}"
    hx:get="|/account/form/${item.id}|"
    hx-target="#dialog"
    data-bs-toggle="modal"
>
    <td class="align-middle">[[${idx.count}]]</td>
    <td class="align-middle">[[${item.name}]]</td>

    <td class="align-middle">
        <div class="btn tags"
             th:style="'background-color: ' + ${item.product.colorHex}"
             hx:get="|/product/form/${item.product.id}|"
             hx-target="#dialog"
             data-bs-toggle="modal"
             th:if="${item.product != null}"
        >[[${item.product.name}]]</div>
    </td>

    <td class="align-middle">
        <div th:if="${item.image != null}" class="rounded-1" th:style="'background-image: url(\'' + ${item.image.url} + '\'); background-repeat: no-repeat; background-size: cover; background-position: 50% 21%;'">
            <div class="card-body position-relative custom-div">

            </div>
        </div>
    </td>
</tr>