<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<form th:fragment="modal" class="modal-content" th:action="@{/account/save}">
    <div class="modal-header">
        <h2 class="fw-bold">[[#{account.info}]]</h2>
        <div id="close" class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
            <i class="ki-duotone ki-cross fs-1">
                <span class="path1"></span>
                <span class="path2"></span>
            </i>
        </div>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label>Type</label>
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-solid input-group-sm mb-5">
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label>Description</label>
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-solid input-group-sm mb-5">
                    <textarea type="text" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label>Tags</label>
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-solid input-group-sm mb-5">
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label>Keep</label>
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-solid input-group-sm mb-5">
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="btn btn-sm btn-active-light-secondary w-100 text-start">
                    <label>Sold</label>
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-solid input-group-sm mb-5">
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>


    </div>

    <div class="modal-footer flex-center">
        <button type="reset" class="btn btn-light me-3 btn-sm" data-bs-dismiss="modal">[[#{button.discard}]]</button>
        <button hx-post="/category/save"
                hx-target="#category-table"
                class="btn btn-primary btn-sm">
            [[#{button.submit}]]
        </button>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/



        /*]]>*/
    </script>
</form>

<tr th:fragment="table" th:each="item, idx : ${data}">
    <td class="align-middle">[[${idx.count}]]</td>
    <td class="align-middle" >[[#{${item.typeName}}]]</td>
    <td class="align-middle">[[${item.description}]]</td>
    <td class="align-middle">
        <span class="badge badge-light-dark">[[${item.createAt}]]</span>
    </td>
    <td class="align-middle">
        <span class="badge badge-light-info">[[${item.updateAt}]]</span>
    </td>
    <td class="align-middle text-center">
        <span th:if="${item.isEnable}">
            <i class="ki-duotone ki-check text-success fs-2"></i>
        </span>
    </td>

    <td class="align-middle text-center">
        <a hx:get="|/category/form/${item.categoryId}|"
           hx-target="#dialog"
           data-bs-toggle="modal"
           class="btn btn-outline btn-outline-dashed btn-outline-success btn-active-light-success px-2 py-1">
            <i class="ki-duotone ki-dots-circle fs-2 pe-0">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
            </i>
        </a>

        <a id="delete-btn" onclick="deleteAlert()"
           hx:delete="|/category/delete/${item.categoryId}|"
           hx-target="closest tr"
           class="btn btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger px-2 py-1">
            <i class="ki-duotone ki-trash fs-2 pe-0">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
            </i>
        </a>
    </td>
</tr>